<% provide :title, 'Avatar Stats'%>
<h1> Avatar Stats </h1>
<% for attribute in @avatar.attributes.keys %>
  <p><%= attribute.humanize %> <%= @avatar.attributes[attribute].to_s %></p>
<% end %>
      
      
      